@import url(./variables.css);

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
}

header {
    background: var(--cor-primaria);
    padding: 10px 0;
    text-align: center;
}

p {
    font-family: var(--fonte-texto);
    font-size: 20px;
    line-height: 1.6;
    color: var(--cor-texto);
}
