/* reset.css */

/* Remove marcadores das listas */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove sublinhado e cor padrão dos links */
a {
  text-decoration: none;
  color: inherit;
}
