@import url(./variables.css);

.cabecalho {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.cabecalho_tittle {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-fonte-titulo);
    color: var(--cor-secundaria);
    margin: 0;
}

.cabecalho_menu ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cabecalho_menu li {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-fonte-lista);
    color: var(--cor-secundaria);
}

.apresentacao main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: var(--cor-fundo);
}

.apresentacao_sobre {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-fonte-texto);
    color: var(--cor-texto);
    margin-bottom: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.apresentacao_sobre_title {
    font-size: 36px;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
}

.portifolio {
    padding: 20px;
    background: var(--cor-fundo);
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 36px;
    color: var(--cor-secundaria);
}

.portifolio_instagram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 20px 0;
}

